{% extends 'layout.html' %}

{% block content %}
    <div class=content-section>
        <p>
            Enter a script and the results will appear here! <br><br>
            If you already entered a script and are seeing this, the models are still loading in the background! <br>
            Try entering some gibberish once or twice and it should fire up!
            <form action="/submit" method="post">
                <input type="submit" value="Let's Go!">
            </form><br><br>
        </p>
    </div>
{% endblock content %}