{% extends 'layout.html' %}

{% block content %}
    <div class=content-section>
        <h1>Welcome to GoodScriptBadScript</h1>
        <br>
        <h2>
            This is made for your amusement! <br><br>
            Have some fun testing out your favorite movie!
        </h2>
        <br>
        <p>
            This is a tool which models any movie script (or other text) you want, and tells you how good it thinks the script will do as a movie. <br> <br>

            It makes a predicition based on how good it thinks the script will do: <br>
             - On IMDb <br>
             - On Rotten Tomatoes <br>
             - At the Box Office (Measured by worldwide gross revenue / budget) <br> <br>

            Check out some disclaimers, and further info about the models here:
            <form action="/info" method="post">
                <input type="submit" value="Info">
            </form><br>
            Or get right to it here:
            <form action="/submit" method="post">
                <input type="submit" value="Let's Go!">
            </form><br><br><br>
            
        </p>
        <h2>Louis George</h2><br>
        <h3>
            <a href="https://github.com/lougeo">GitHub</a> <br>
            <a href="https://www.linkedin.com/in/lougeo/">LinkedIn</a> <br> <br>

            Currently seeking employment!
        </h3>
        

    </div>
{% endblock content %}