{% extends 'layout.html' %}

{% block content %}
    <div>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Enter info here:</legend>
                <p>Select all genres which apply:</p>
                <!-- Genres -->
                <div class="form-check">
                    {{ form.genre1(class="form-check-input")}}
                    {{ form.genre1.label(class="form-check-label")}}
                </div>
                <div class="form-check">
                    {{ form.genre2(class="form-check-input")}}
                    {{ form.genre2.label(class="form-check-label")}}
                </div>
                <div class="form-check">
                    {{ form.genre3(class="form-check-input")}}
                    {{ form.genre3.label(class="form-check-label")}}
                </div>
                <div class="form-check">
                    {{ form.genre4(class="form-check-input")}}
                    {{ form.genre4.label(class="form-check-label")}}
                </div>
                <div class="form-check">
                    {{ form.genre5(class="form-check-input")}}
                    {{ form.genre5.label(class="form-check-label")}}
                </div>
                <div class="form-check">
                    {{ form.genre6(class="form-check-input")}}
                    {{ form.genre6.label(class="form-check-label")}}
                </div>
                <div class="form-check">
                    {{ form.genre7(class="form-check-input")}}
                    {{ form.genre7.label(class="form-check-label")}}
                </div>
                <div class="form-check">
                    {{ form.genre8(class="form-check-input")}}
                    {{ form.genre8.label(class="form-check-label")}}
                </div>
                <div class="form-check">
                    {{ form.genre9(class="form-check-input")}}
                    {{ form.genre9.label(class="form-check-label")}}
                </div>
                <div class="form-check">
                    {{ form.genre10(class="form-check-input")}}
                    {{ form.genre10.label(class="form-check-label")}}
                </div>
                <div class="form-check">
                    {{ form.genre11(class="form-check-input")}}
                    {{ form.genre11.label(class="form-check-label")}}
                </div>
                <div class="form-check">
                    {{ form.genre12(class="form-check-input")}}
                    {{ form.genre12.label(class="form-check-label")}}
                </div>
                <div class="form-check">
                    {{ form.genre13(class="form-check-input")}}
                    {{ form.genre13.label(class="form-check-label")}}
                </div>
                <div class="form-check">
                    {{ form.genre14(class="form-check-input")}}
                    {{ form.genre14.label(class="form-check-label")}}
                </div>
                <div class="form-check">
                    {{ form.genre15(class="form-check-input")}}
                    {{ form.genre15.label(class="form-check-label")}}
                </div>
                <div class="form-check">
                    {{ form.genre16(class="form-check-input")}}
                    {{ form.genre16.label(class="form-check-label")}}
                </div>
                <div class="form-check">
                    {{ form.genre17(class="form-check-input")}}
                    {{ form.genre17.label(class="form-check-label")}}
                </div>
                <div class="form-check">
                    {{ form.genre18(class="form-check-input")}}
                    {{ form.genre18.label(class="form-check-label")}}
                </div>
                <div class="form-check">
                    {{ form.genre19(class="form-check-input")}}
                    {{ form.genre19.label(class="form-check-label")}}
                </div>
                <div class="form-check">
                    {{ form.genre20(class="form-check-input")}}
                    {{ form.genre20.label(class="form-check-label")}}
                </div>
                <div class="form-check">
                    {{ form.genre21(class="form-check-input")}}
                    {{ form.genre21.label(class="form-check-label")}}
                </div>
                <div class="form-check">
                    {{ form.genre22(class="form-check-input")}}
                    {{ form.genre22.label(class="form-check-label")}}
                </div>
                <!-- Title and Script -->
                <div class="form-group">
                    {{ form.title.label(class="form-control-label")}}
                    {{ form.title(class="form-control form-control-lg")}}
                </div>
                <div class="form-group">
                    {{ form.script.label(class="form-control-label")}}
                    {{ form.script(class="form-control form-control-lg")}}
                </div>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info")}}
                </div>
            </fieldset>
        </form>
    </div>
{% endblock content %}